<div class="flex justify-center items-center h-screen">
  <p-card [header]="'loginPage.header' | transloco" styleClass="w-full max-w-md">

    <app-dynamic-form
      [form]="loginForm"
      [formItems]="loginFormItems">
    </app-dynamic-form>

    <div class="mt-6">
      <p-button
         [label]="'loginPage.loginButton' | transloco"
        (click)="onSubmit()"
        [disabled]="loginForm.invalid"
        styleClass="w-full">
      </p-button>
    </div>

    <ng-template pTemplate="footer">
      <div class="text-center mt-4">
        <span>{{ 'loginPage.registerPrompt' | transloco}} </span>
        <a routerLink="/register" class="font-semibold text-primary hover:underline">{{ 'loginPage.registerLink' | transloco}}</a>
      </div>
    </ng-template>
  </p-card>
</div>