<div class="flex justify-center items-center h-screen">
  <p-card [header]="'registerPage.header' | transloco" styleClass="w-full w-sm">
    
    <app-dynamic-form
      [form]="registerForm"
      [formItems]="registerFormItems">
    </app-dynamic-form>
<div class="h-5 text-right" *ngIf="registerForm.hasError('passwordsNotMatching')">
  <small class="p-error">{{ 'form.errors.passwordsDoNotMatch' | transloco }}</small>
</div>
    <div class="mt-6">
      <p-button 
        [label]="'registerPage.registerButton' | transloco"
        (click)="onSubmit()"
        [disabled]="registerForm.invalid"
        styleClass="w-full">
      </p-button>
    </div>
    
    
    <ng-template pTemplate="footer">
      <div class="text-center mt-4">
        <span>{{ 'registerPage.loginPrompt' | transloco }} </span>
        <a routerLink="/login" class="font-semibold text-primary hover:underline">{{ 'registerPage.loginLink' | transloco }}</a>
      </div>
    </ng-template>
  </p-card>
</div>