<div class="flex flex-col h-full text-surface-700 dark:text-surface-200">
  
  <div class="p-4 flex-shrink-0">
  <app-logo></app-logo>
  </div>

  <div class="p-2 flex-grow overflow-y-auto">
    <span class="p-2 text-sm font-semibold text-surface-500">NAVIGATION</span>
    <ul class="flex flex-col gap-1 mt-2">
      <li>
        <a routerLink="/dashboard" class="flex items-center p-3 rounded-md hover:bg-surface-100 dark:hover:bg-surface-700 transition-colors duration-200">
          <i class="pi pi-home mr-3 text-lg"></i>
          <span class="font-medium">Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="/reports" class="flex items-center p-3 rounded-md hover:bg-surface-100 dark:hover:bg-surface-700 transition-colors duration-200">
          <i class="pi pi-chart-bar mr-3 text-lg"></i>
          <span class="font-medium">Reports</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="p-4 mt-auto flex-shrink-0 ">
<div class="flex justify-between items-end">


      <p-speeddial [model]="languageMenuItems" direction="up" [transitionDelay]="80">
        <ng-template #button let-toggleCallback="toggleCallback">
            <p-button text (click)="toggleCallback($event)">
                     <div class="flex items-center gap-2 px-1">
            <span class="fi fi-{{ currentLanguage.flag }} text-lg"></span>
    
          </div>
            </p-button>
        </ng-template>
        <ng-template #item let-item let-toggleCallback="toggleCallback">
            <div
                class="flex flex-col items-center justify-between gap-2 p-2  w-20 cursor-pointer"
                (click)="toggleCallback($event, item)"
                role="button"
                tabindex="0"
            >
                <span [class]="item.icon"></span>
                <span>
                    {{ item.label }}
                </span>
            </div>
        </ng-template>
      </p-speeddial>



            <p-button 
        (click)="toggleDarkMode()"
        [icon]="(themeService.isThemeDark$ | async) ? 'pi pi-sun' : 'pi pi-moon'"
        styleClass="p-button-text p-button-rounded"
        aria-label="Toggle Theme">
      </p-button>

                        <p-button 
                  *ngIf="authService.isLoggedIn()"
        (click)="logOut()"
        [icon]="'pi pi-sign-out'"
        styleClass="p-button-text p-button-rounded"
        aria-label="Sign Out">
      </p-button>

    </div>
  </div>
</div>